* {
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #166e793f;
}

section {
    width: 300px;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

p {
    width: 100%;
    text-align: center;
    font:  2em italic;
}

button {
    height: 50px;
    background-color: #166e79;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #166e79a4;
    transition: .5s ease-in-out;

    &:hover {
        color: #166e79;
        background-color: #ffffff;
        border: solid 1px #166e79;
    }
}

